body {
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.71429;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.flex-container{
	display: flex;
}

#navegador .logo{ /*Da estilo y posicion al logo*/
	margin: 0 auto;
	margin-right: auto;
	margin-left: 20px;
	width: 10%;
	background-image: url(../assets/img/logo-pink.png); 
}
	
/*Aca comienza el navegador*/
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;
	font-size: 5px;
}

nav ul li a{
	text-decoration: none; 
}

nav ul li a:hover{
	color: #FF00BF;
}

.menu.flex-container{
	justify-content: flex-end;
	margin-right: 22px;
}

.menu{
	background-color: white;
	position: fixed;/*Da posicion fija al menu*/
	top: 0;
	left: 0;
	width: 100%;
}



/*Video*/

.vid{
	width: 100%;
}



/********Da estilo a mi caja**********/

.caja{
	align-items: center;
	flex-direction: column;
	color: black;
}


.titulo{/*Da estilo al titulo de la caja gris*/

	left: 30px;
	top: 15px;
	color: #352384;
}

.bajada{ /*Da estilo al texto de bajada*/

	left: 30px;
	color: #352384;
	top: 65px;
}

#solicitud{/* input*/
	
	height: 30px;
	width: 398px;
	border-left: none;
	border-top: none;
	border-right: none;
	border-color: #75726C;
}

/*Creando boton*/
button{ /*Da diseno y color al boton*/

	width: 192px;
	height: 59px;
	background-color: #FF00BF;
	border-radius: 10px;
	color: white;
}

#parrafos p{ /*Da estilo a mi primer parrafo*/
	
	padding: 0px;
	color: #75726C;
	width: 435px;
	left: 900px;
	bottom: 119px;
	height: 21px;
}

#parrafos .parrafo2{/*Da estilo a mi segundo parrafo que se encuentra abajo del boton*/

	padding: 0px;
	color: #75726C;
	width: 435px;
	left: 900px;
	bottom: 100px;
	height: 10px;

}



/*********seccion del telefono***********/

.container-phone.flex-container{
	
	background: linear-gradient(#76278f,#2b1e66);
	justify-content: flex-end;

}

.phone{
	min-height: 22rem;
    max-height: 40rem;
    height: 100%;
}

#registro.flex-container{
	justify-content: flex-end;
}











.texto.flex-container{
	color: white;
	flex-direction: column;

}

.titulo-phone-uno.flex-container{
	justify-content: flex-start;
	font-size: 30px;
	
}

.parrafo-phone-uno.flex-container{
	justify-content: flex-start;
	font-size: 25px;
}